@page
@model Transport.Pages.LicenseCategories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="flex jcsb w-100 aic">
    <h1 class="mb-2">License Category types</h1>

    <a asp-page="Create" class="btn-primary">Create a new license category</a>
</div>

@if (Model.LicenseCategory.Count == 0)
{
    <p>There are no categories created. Create a new one!</p>
}
else
{
    <table class="table">
        <colgroup>
            <col style="width: 80%">
            <col style="width: 20%">
        </colgroup>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LicenseCategory[0].Category)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LicenseCategory)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}